wrapper
    margin-top 100px
    margin-left 15%
    
text
    text-align left
    color #263238

h2
    font-size 48px
    font-family 'Work Sans'
    font-weight 600
    line-height 2.08
    letter-spacing -1.5px
    color #263238

label
    font-family 'Work Sans'
    display block
    font-size 16px
    font-weight 600
    line-height 1.56
    letter-spacing -0.5px
    color #6572fd

link
    font-family 'Work Sans'
    font-size 16px
    font-weight 600
    line-height 1.56
    letter-spacing -0.5px
    color #6572fd
    text-decoration none

input
    font-family 'Work Sans'
    font-size 24px
    font-weight 300
    line-height 2
    letter-spacing -0.8px
    color #263238
    border none
    width 450px
    height 48px
    background-color #f6f9fb
    text-decoration none
    margin-top 25px
    padding-left 16px
    padding-right 16px

textArea
    font-family 'Work Sans'
    font-size 24px
    font-weight 300
    line-height 2
    letter-spacing -0.8px
    color #263238
    border none
    width 450px
    background-color #f6f9fb
    text-decoration none
    margin-top 25px
    padding-left 16px
    padding-right 16px

nextButton
    border none
    width 480px
    margin-top 66px
    height 100px
    padding-top 36px
    padding-bottom 39px
    padding-left 56px
    padding-right 56px
    background-color #6572fd
    text-decoration none
    font-family 'Work Sans'
    font-size 16px
    font-weight bold
    line-height 1.56
    letter-spacing 1px
    color #ffffff
    cursor pointer

box
    border 1px solid #b0bec5
    font-size 24px
    font-weight 300
    font-family 'Work Sans'
    padding-left 16px
    padding-right 16px
    color #263238
    vertical-align middle
    line-height 2.08
    min-height 50px
    letter-spacing -0.8px
    display inline-block


  buttonStyle
    width 480px
    margin-top 66px
    height 100px
    padding-top 36px
    padding-bottom 39px
    padding-left 56px
    padding-right 56px
    background-color #6572fd
    text-decoration none

textStyle
    font-family 'Work Sans'
    font-size 66px
    font-weight 600
    line-height 1.25
    letter-spacing -2.5px
    text-align left
    color #263238

buttonTextStyle
    font-family 'Work Sans'
    font-size 16px
    font-weight bold
    line-height 1.56
    letter-spacing 1px
    color #ffffff